@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 2em;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background: linear-gradient(135deg, #6247aa, #d972ff);
}

.container {
  display: flex;
  gap: 3em;
  flex-direction: column;
  width: 500px;
  position: relative;
}

.enter-task {
  padding: 1em 1.5em;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  gap: 1em;
  box-shadow: 6px 20px 9px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.enter-task input {
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 7px;
  border: 1px solid #d1d5e4;
  width: 400px;
}

.enter-task .add {
  outline: 0;
  padding: 0.5em 1.5em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #7c61c7;
  color: white;
}

.tasks-container {
  padding: 1em 1.5em;
  border-radius: 5px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 2em;
  box-shadow: 6px 20px 9px rgba(0, 0, 0, 0.1);
  width: 500px;
  display: none;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.75em;
  border-bottom: 1px solid #d1d5e4;
}

.task:last-child {
  border-bottom: none;
}

.task .task-name {
  font-weight: 500;
  font-size: 1.1rem;
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: white;
}

.task .delete-button {
  outline: 0;
  padding: 0.5em 1em;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  background-color: #7c61c7;
  color: white;
}

.task-checked {
  text-decoration: line-through;
  color: rgb(199, 181, 181);
}

.error {
  font-size: 0.85rem;
  color: #f9564f;
  font-weight: 500;
  display: none;
  position: absolute;
  top: 25px;
  right: 115px;
}

.error.active {
  display: inline;
}

@media only screen and (min-width: 200px) and (max-width: 359px) {
  .container {
    width: 250px;
  }
  .enter-task {
    width: 250px;
    gap: 0.5em;
    padding: 1em 0.75em;
  }

  .enter-task input {
    width: 150px;
  }

  .tasks-container {
    width: 250px;
  }
}
@media only screen and (min-width: 360px) and (max-width: 480px) {
  .container {
    width: 320px;
  }
  .enter-task {
    width: 320px;
    gap: 1em;
  }

  .enter-task input {
    width: 200px;
  }

  .tasks-container {
    width: 320px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 520px) {
  .container {
    width: 450px;
  }
  .enter-task {
    width: 450px;
  }

  .tasks-container {
    width: 450px;
  }
}
